/* Main Global Styles */

:root {
  --lightblue: #71c8df;
  --darkblue: #4ca1b9;
  --tweety: #f8db55;
  --bumble: #f4c83d;
  --orange: #f09e35;
  --darkorange: #dd833f;
  --font:#3e1a18;
  --background: #fcf5d9;
}

body {
  background-color: var(--background);
  color: var(--font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}